<form style="margin-top: 50px">
    <div class="form-check">
        <label class="form-check-label">
            <input name="available" class="form-check-input" type="checkbox" value="true" [(ngModel)]="meal.available">
            Available
        </label>
    </div>
    <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Description</label>
        <div class="col-8">
            <input name="description" class="form-control" type="text" id="description" [(ngModel)]="meal.description">
        </div>
    </div>
    <div class="form-group row">
        <label for="type" class="col-2 col-form-label">Example select</label>
        <div class="col-8">
            <select name="type" [(ngModel)]="meal.type" class="form-control" id="type">
                <option *ngFor="let type of mealTypes" [value]="type">{{type}}</option>
            </select>
        </div>
    </div>
    <button type="submit" (click)="submitMeal()" class="btn btn-success">Submit</button>
</form>