<form class="mow-form" [formGroup]="customerForm" (ngSubmit)="submitCustomer(customerForm.value)">
    <div class="form-group row" [ngClass]="{'has-error-box':name.invalid && name.touched}">
        <label for="firstName" class="col-2 col-form-label">First name
            <div *ngIf="name.invalid && name.touched" class="has-error d-inline"> *</div></label>
        <div class="col-10">
            <input name="firstName" class="form-control" type="text" id="firstName" placeholder="First Name" [formControl]="name">     
            <div class="alert" *ngIf="name.invalid && name.touched">First name is required</div>       
        </div>        
    </div>
    <div class="form-group row" [ngClass]="{'has-error-box':surname.invalid && surname.touched}">
        <label for="lastName" class="col-2 col-form-label">Last name
            <div *ngIf="surname.invalid && surname.touched" class="has-error d-inline"> *</div></label>
        <div class="col-10">
            <input name="lastName" class="form-control" type="text" id="lastName"  placeholder="Last Name" [formControl]="surname">
            <div class="alert" *ngIf="surname.invalid && surname.touched">Last name is required</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-error-box':address.invalid && address.touched}">
        <label for="address" class="col-2 col-form-label">Address
            <div *ngIf="address.invalid && address.touched" class="has-error d-inline"> *</div></label>
        <div class="col-10">
            <textarea name="address" rows="6" class="form-control" type="textarea" id="address"  placeholder="Address" [formControl]="address"></textarea>
            <div class="alert" *ngIf="address.invalid && address.touched">Address is required</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-error-box':telephone.invalid && telephone.touched}">
        <label for="phone" class="col-2 col-form-label">Phone number
            <div *ngIf="telephone.invalid && telephone.touched" class="has-error d-inline"> *</div></label>
        <div class="col-10">
            <input name="phone" class="form-control" type="text" id="phone"  placeholder="Telephone" [formControl]="telephone">
            <div class="warning" *ngIf="telephone.invalid && telephone.touched && telephone.errors.required">Telephone is required</div>
            <div class="warning" *ngIf="telephone.invalid && telephone.touched && (telephone.errors.pattern || telephone.errors.minlength)">A valid telephone number is required</div>
        </div>
    </div>
    <button [disabled]="!customerForm.valid" type="submit" class="btn btn-success" [formControl]="submitButton">Submit</button>

</form>