<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" routerLink="/">Temporary navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="meal" routerLinkActive="active">Meals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="customer" routerLinkActive="active">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="order" routerLinkActive="active">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>