<div class="row">
  <div class="col-auto">
    <p>
      <ngb-alert type="info" [dismissible]="false">Log in or register to start managing your routes</ngb-alert>
    </p>
  </div>
</div>

<ngb-tabset type="pills">
  <ngb-tab title="Login">
    <template ngbTabContent>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 section">
          <app-admin-login></app-admin-login>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Register">
    <template ngbTabContent>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 section">
          <app-admin-registration></app-admin-registration>
        </div>
      </div>
    </template>
  </ngb-tab>
</ngb-tabset>